@import url("https://fonts.googleapis.com/css?family=Nunito:400,500,700,900&display=swap");

body {
  font-family: "Nunito", "sans serif";
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
}

.v-card-title,
.v-btn__content {
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;

  .content {
    width: 80%;
  }

  .v-card {
    width: 100%;
    max-width: 500px;
  }
}

.router-view {
  height: calc(100% - 64px);
  overflow: auto;
}

.profile-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    margin-left: calc(50% - 36px);
  }
}
